@model IEnumerable<Marketplace.Models.Product>

@section Header {
    <div class="header-panel">

        <div class="goods">
            <button class="navbar" id="navbar">☰</button>
            <div class="list-goods" id="list-goods">
                <button class="navbar_exit" id="exit">⮾</button>
                <ul>
                    <li><a href="#">&#128095;Обувь</a></li>
                    <li><a href="#">&#129509;Верхняя одежда</a></li>
                    <li><a href="#">&#128161;Бытовая электроника</a></li>
                    <li><a href="#">&#128118;Детская одежда</a></li>
                </ul>
            </div>
        </div>

        <input type="text" class="search-bar" placeholder="Найти товар..." />

        <div class="profile">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" id="profile">&#128100;</a>
                <div class="profile-list" id="profile-list">
                    <ul>
                        <li><a href="#">Покупки</a></li>
                        <li><a href="#">Избранное</a></li>
                        <li><a href="#">Любимые бренды</a></li>
                        <li><a href="#">Кошелек</a></li>
                        <li><a href="@Url.Action("Logout", "Account")">Выйти</a></li> <!-- Ссылка на выход -->
                    </ul>
                </div>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")">Войти</a> <!-- Ссылка на страницу входа -->
            }
        </div>
        <div class="profile">
            <button id="profile">&#128465;</button>
        </div>
        <a asp-controller="Product" asp-action="Create">+</a>
    </div>
}

<div class="container">
    <section class="hero">
        <h1>Найди всё для себя и своих близких</h1>
    </section>
    <section class="product-main">
        <div class="product-cards">
        @foreach (var product in Model)
        {
            <a href="@Url.Action("Details", "Product", new {id=product.Id})" class="product-card">
                <div class="product-image">
                    <img src="@product.PhotoPath" alt="@product.Name"/>
                </div>
                <div class="product-details">
                    <p class="price">@product.Price руб.</p>
                    <h2 class="name">@product.Name</h2>
                    <h2 class="points">Оценка</h2>
                </div>
            </a>
        }
        </div>
    </section>
</div>

@section Footer {
    <p>Проект сделал Артем</p>
}                 