@model IEnumerable<Marketplace.Models.Product>
@{
    ViewData["Title"] = "Админская панель";
}
<h2>Админская панель</h2>
<p>Здесь вы можете управлять данными вашего приложения.</p>
<a href="@Url.Action("Index", "Home")"><h2>Marketplace</h2></a>
<h3>Список продуктов</h3>

@* @{
    var categories = Model.GroupBy(p => p.Category.Name); // Группируем продукты по категориям
}

@foreach (var categoryGroup in categories)
{
    <h4>@categoryGroup.Key</h4> <!-- Название категории -->
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in categoryGroup)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td> <!-- Форматируем цену как валюту -->
                    <td>@product.Stock</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@product.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
 *@