@model Marketplace.Models.Product

@{
    var cart = ViewData["QuantityItems"] != null ? (int)ViewData["QuantityItems"] : 0;
}

@section Header {
    <div class="header-panel">

        <a class="name-market" href="@Url.Action("Index", "Home")"><h2>Marketplace</h2></a>

        <div class="goods">

            <button class="navbar" id="navbar">☰</button>

            <div class="list-goods" id="list-goods">

                <button class="navbar_exit" id="exit">⮾</button>

                <div class="filter-menu">
                    <form asp-action="Index" asp-controller="Home" method="get">

                        <label>Категории</label>

                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Все</a></li>

                            @foreach (var category in (List<Marketplace.Models.Category>)ViewData["Categories"])
                            {

                                <li><a href="@Url.Action("Index", "Home", new { categoryId = category.Id })">@category.Name</a></li>

                            }

                        </ul>

                    </form>

                </div>

            </div>

        </div>

        <form asp-controller="Home" asp-action="Search" method="get">
            <input type="text" name="query" placeholder="Найти товар..." />
            <button type="submit" class="btn-search">🔍</button>
        </form>

        <div class="profile">

            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" id="profile">&#128100;</a>

                <div class="profile-list" id="profile-list">

                    <ul>
                        <li><a href="#">Покупки</a></li>
                        <li><a href="#">Избранное</a></li>
                        <li><a href="#">Любимые бренды</a></li>
                        <li><a href="#">Кошелек</a></li>
                        <li><a href="@Url.Action("Logout", "Account")">Выйти</a></li> <!-- Ссылка на выход -->
                    </ul>

                </div>
            }
            else
            {
                <a href="@Url.Action("Login", "Account")">Войти</a> <!-- Ссылка на страницу входа -->
            }
        </div>

        <a calss="cart-icon" asp-controller="Cart" asp-action="Index">
            &#128465;
            <p>@cart</p>
        </a>

        <a asp-controller="Product" asp-action="Create">+</a>
    </div>
}

<div class="detail-main">

    <h1>@Model.Name</h1>

    <div class="detail-img">
        <img src="@Model.PhotoPath" alt="@Model.Name"/>
    </div>

    <div class="detail-info">
        <p>Цена: @Model.Price</p>
        <p>Категория: @Model.Category.Name</p>
        <p>Описание: @Model.Description</p>
    </div>

    <div class="add-to-cart">
        <form asp-controller="Cart" asp-action="AddToCart" method="post">
            <input type="hidden" name="productId" value="@Model.Id" />
            <button type="submit">Добавить в корзину</button>
        </form>
    </div>


</div> 

@section Footer {
    <p>Проект сделал Артем</p>
}               